<!DOCTYPE html>
<html lang="en">
<head data-gincb="{{gin.cacheBuster}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{gin.site.description}}">
  <title>{% block title %}{{gin.site.name}}{% endblock %}</title>
  <link rel="shortcut icon" href="{{asset('img/favicon.ico')}}">
  <link rel="stylesheet" href="{{asset('css/main.css')}}">
  <link rel="canonical" href="{{url()}}">
  {{ head() | safe }}
</head>
<body>
<article>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1 is-6-desktop is-offset-4-desktop">
          <div class="heading">
            {% block heading %}<em>Untitled</em>{% endblock %}
          </div>
          {% if navBack %}
          <div class="gin-nav-back">
            <a href="{{navBack}}">&larr; Back</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div id="gin-nav-tree" class="column is-3 is-offset-1">
          {{ nav("tree") | safe }}
        </div>
        <div class="column is-10 is-6-desktop">
          <div id="primary-content" class="content">
            {% block content %} Nothing to see here {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
<footer class="footer has-text-centered">
  {{ nav("footer-menu") | safe }}
  {% block foot %}
  {% endblock%}
</footer>
</body>
</html>
